sudo: required

services:
  - docker

dist: xenial
addons:
  apt:
    packages:
    - docker

env:

os:
  - linux

before_install:

before_script:

script:
  - make build_docker
  - make build_vagrant

after_success:
