sudo: required

services:
  - docker

dist: xenial
addons:
  apt:
    packages:
    - docker

env:

os:
  - linux

before_install:

before_script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

script:
  - make build_docker
  - docker run --rm --name for_export -dt $(docker images -q | awk 'NR==1{print $1}') /bin/bash
  - docker export for_export > ./export.tar
  - cat ./export.tar | docker import - localgod/centos:latest
  - rm ./export.tar
  - docker stop for_export
  - docker rm for_export
  - docker images

after_success:
