name: Docker Image CI

on:
  push:
    branches:
      - master
      - 'feature/**'
      - 'releases/**'
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v2
    - name: check capabilities
      run: |
        /usr/local/bin/packer --version
        /usr/local/bin/VBoxManage --version
        /usr/local/bin/vagrant --version
#    - name: Build container
#      run: /usr/local/bin/packer build -force docker.json
    - name: Build vagrant box
      run: /usr/local/bin/packer build -force vagrant.json


